h2 {
  font-family: poppins-bold;
  color: #006eb8;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 0;
}

.header {
  display: flex;
  flex-direction: row;
}

.bio {
  font-family: poppins-regular;
  color: white;
  max-width: 40rem;
  font-size: 1.2rem;
  margin: 0.5rem 0 2rem 0;
}

.splash-left {
  background-color: #006eb8;
  width: 50%;
  height: 100vh;
  display: flex;
}

.splash-right {
  background-color: #00528a;
  width: 50%;
  height: 100vh;
  display: flex;
}

.my-name {
  font-family: header-alt;
  font-size: 7rem;
  color: white;
  margin: 0;
  line-height: 7rem;
}

.left-content {
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  max-width: 50rem;
}

.right-content {
  justify-self: center;
  align-self: center;
  margin: 0 auto;
}

.right-content svg {
  width: 30rem;
}

.projects,
.about {
  background-color: #f6f7f9;
  min-height: 30vh;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.about {
  background-color: white;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.card-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  width: fit-content;
}

.card {
  background-color: white;
  max-width: 30rem;
  min-width: 28rem;
  box-shadow: 0px 0px 20px #28597116;
  margin: 0 2rem;
  border-radius: 0.8rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.card-body {
  /* padding: 2rem; */
  height: 12rem;
}

h3 {
  color: #006eb8;
  font-size: 1.8rem;
  margin: 0 0 0 0;
  text-align: center;
  font-family: poppins-bold;
}

.card-body p {
  font-family: poppins-regular;
}

.contact {
  padding: 3rem 0;
  background-color: #00528a;
}

.button-row {
  font-family: poppins-regular;
  float: right;
}

.label {
  font-family: poppins-bold;
  color: white;
  text-align: center;
  margin: 0;
}

.email {
  font-family: poppins-regular;
  text-align: center;
  color: #07c2ff;
  display: block;
}

.icon-row {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.icon {
  margin: 0 0.5rem;
}

.icon img {
  height: 2rem;
}

@media screen and (max-width: 1700px) {
  .left-content {
    padding: 4rem;
  }

  .bio {
    font-size: 1.2rem;
  }

  .my-name {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
  }

  .splash-left {
    background-color: #006eb8;
    width: 100%;
    height: 50vh;
    display: flex;
  }

  .splash-right {
    background-color: #00528a;
    width: 100%;
    height: 50vh;
    display: flex;
  }

  .bio {
    font-size: 1rem;
  }

  .my-name {
    font-size: 4rem;
    line-height: 4rem;
  }

  .left-content {
    padding: 0 2rem;
  }

  .right-content img {
    width: 20rem;
  }
}

.cog {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .bio {
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }

  .my-name {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: header-alt;
    letter-spacing: 1px;
  }

  .left-content {
    padding: 0 2rem;
  }

  .right-content img {
    width: 12rem;
  }

  .btn-solid,
  .btn-outline {
    min-width: 5rem;
    font-size: 0.7rem;
    padding: 0.4rem;
  }

  .btn-outline {
    margin-left: 0.5rem;
  }

  .projects h2,
  .contact h2 {
    font-size: 1.6rem;
  }

  .card-carousel {
    flex-direction: column;
    margin-top: 0;
  }

  h3 {
    font-size: 1.3rem;
  }

  .card {
    margin: 1rem 1rem;
    min-height: 10rem;
    min-width: 0;
  }

  .card-body p {
    font-size: 0.7rem;
  }

  .button-row {
    font-size: 0.8rem;
  }
}
